// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
//$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lightred: #e23e3d;

$golden: #af9559;
$red: #ed1c24;
$brown: #503737;
$white: #ffffff;
$grey: #777777;
$greyDarken: #444444;

.blue{
    color:$blue;
}
.indigo{
    color:$indigo;
}
.purple{
    color:$purple;
}
.pink{
    color:$pink;
}
.orange{
    color:$orange;
}
.yellow{
    color:$yellow;
}
.green{
    color:$green;
}
.teal{
    color:$teal;
}
.cyan{
    color:$cyan;
}
.golden{
    color:$golden;
}
.red{
    color:$red;
}
.brown{
    color:$brown;
}
.white{
    color:$white;
}
.grey{
    color:$grey;
}
.greyDarken{
    color:$greyDarken;
}
.lightred{
    color:$lightred;
}
